@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--BackgroundColor);
}

:root {
  --primaryColor: #146C94;
  --BackgroundColor: #f8f8f7;
}


.MuiDataGrid-root .MuiDataGrid-cell {
  /* color: tomato; */
  /* work */
  white-space: 'normal' !important;
  /* don't work */
  word-wrap: 'break-word' !important;
  /* don't work */
}